
.container-card-sucursal {
  font-family: "Quicksand", sans-serif;
  place-items: center;
  height: auto;
  /* background: #7f7fd5; */
  /* background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5); */
  margin-right: auto;
  margin-left: auto;
  color: rgb(61, 55, 55) !important;
}

.container-card-sucursal .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

.row .container-card-sucursal .card__image {
  max-width: 100%;
  height: 250px;
  display: block;
}
.container-card-sucursal img {
  max-width: 100%;
  display: block;
}

.container-card-sucursal .card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #c5bdbd, #b6b4b1);

}



.container-card-sucursal .card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.container-card-sucursal .tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.container-card-sucursal .tag + .tag {
  margin-left: .5em;
}

.container-card-sucursal .tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.container-card-sucursal .tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.container-card-sucursal .tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.container-card-sucursal .card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.container-card-sucursal .card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.container-card-sucursal .user {
  display: flex;
  gap: .5rem;
}

.container-card-sucursal .user__image {
  border-radius: 50%;
}

.container-card-sucursal .user__info > small {
  color: #666;
}

.contenedor-filtro-busqueda{
  display: flex;
}
.filtro-sucursal{
  display: flex;
}

@media ( max-width: 575px) {
  .contenedor-filtro-busqueda{
    display: block;
  }
  .form-search-sucursales{
    width: 100% !important;
  }
  .filtro-sucursal{
    display: block;
  }
  
}




/*  */

.direccion-table-td{
  width: 10px !important;
}